<div class="d-flex flex-column">
  <div>
    <div class="waf-dynamic-text d-flex justify-content-center align-items-center">
      <span *ngIf="!hidePokemonScene" class="waf-typed-element waf-scene-A waf-pokemon-text">
      </span>
      <span class="waf-typed-element waf-scene-B">
      </span>
    </div>
  </div>
  <div *ngIf="!hidePokemonScene" class="d-flex flex-wrap align-items-center">
    <div class="waf-card d-flex justify-content-center align-items-center col-12 col-md-4">
      <img class="size-poke" src="./assets/images/bulbi.png" />
    </div>
    <div class="waf-card d-flex justify-content-center align-items-center col-12 col-md-4">
      <img class="size-poke" src="./assets/images/sala.png" />
    </div>
    <div class="waf-card d-flex justify-content-center align-items-center col-12 col-md-4">
      <img class="size-poke" src="./assets/images/cara.png" />
    </div>
  </div>

  <div *ngIf="hidePokemonScene" class="d-flex flex-wrap align-items-center">
    <div class="waf-card d-flex flex-column justify-content-center align-items-center col-12 col-md-4">
      <div class="waf-box d-flex flex-column justify-content-center align-items-center">
        <img class="size-a" src="./assets/images/vue.png" />
      </div>
      <a style="margin-top: 20px" href="https://gitter.im/wearefrontend/waf-vue" target="_black" class="waf-button">
        <span>Join waf-vue</span>
      </a>
    </div>
    <div class="waf-card d-flex flex-column justify-content-center align-items-center col-12 col-md-4">
      <div class="waf-box d-flex flex-column justify-content-center align-items-center">
        <img class="size-b" src="./assets/images/angular.png" />
      </div>
      <a style="margin-top: 20px" href="https://gitter.im/wearefrontend/waf-ng" target="_black" class="waf-button">
        <span>Join waf-ng</span>
      </a>
    </div>
    <div class="waf-card d-flex flex-column justify-content-center align-items-center col-12 col-md-4">
      <div class="waf-box d-flex flex-column justify-content-center align-items-center">
        <img class="size-c" src="./assets/images/react.png" />
      </div>
      <a style="margin-top: 20px" href="https://gitter.im/wearefrontend/waf-react" target="_black" class="waf-button">
        <span>Join waf-react</span>
      </a>
    </div>
  </div>
</div>
