:host {
  display: flex;
  height: 100%;
}

.waf-title {
  background: url(../assets/images/people.gif) no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* this property is not yet supported by all browser, not official yet... i tmay not work for all users*/
  width: 100%;
}

.waf-text {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid white;
}
