@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.waf-header-bar {
  position: fixed;
  background: white;
  z-index: 600;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid black;

  width: 100%;
}

.waf-text {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  height: 50px;
}

@include media-breakpoint-up(md) {
  .waf-header-bar {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
