/* You can add global styles to this file, and also import other style files */

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'pokemon';
  src: url('./assets/pokemon.ttf');
}


// button special
.waf-button {
  border-radius: 4px;
  border: 3px solid black;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.waf-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: black;
}

.waf-button span:after {
  content: '\00bb';
  color: black;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.waf-button:hover span {
  padding-right: 25px;
}

.waf-button:hover span:after {
  opacity: 1;
  right: 0;
}

