<div class="accordion-container">
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
    <div class="card__head" [ngClass]="{
      'vue-b': index === 0,
      'vue-background-theme': index === 2,
      'ng-background-theme' : index === 1,
      'react-background-theme': index === 3}">Contribute on Github</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
    <div class="card__head" [ngClass]="{
      'vue-background-theme': index === 2,
      'ng-background-theme' : index === 1,
      'react-background-theme': index === 3}">Formations</div>
  </div>
  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
    <div class="card__head" [ngClass]="{
      'vue-background-theme': index === 2,
      'ng-background-theme' : index === 1,
      'react-background-theme': index === 3}">Conferences Calendar</div>
  </div>
  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
    <div class="card__head" [ngClass]="{
      'vue-background-theme': index === 2,
      'ng-background-theme' :index === 1,
      'react-background-theme': index === 3}">Libraries to use with</div>
  </div>
  <div class="card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Mimi%26Tigsi.jpg/1280px-Mimi%26Tigsi.jpg">
    <div class="card__head" [ngClass]="{
      'vue-background-theme': index === 2,
      'ng-background-theme' : index === 1,
      'react-background-theme': index === 3}">Jobs</div>
  </div>
</div>
