:host {
  flex: 1;
}

.waa-background {
  height: 100%;
  width: 100%;
  background-image: url('https://cdn-images-1.medium.com/max/2400/1*eG2MFl0sGRKFmd_USgA_8Q.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.waa-semi-transparent-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #ff6666;
}

.waa-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.waa-react {
  font-size: 26px;
}

.waa-vue {
  font-size: 36px;
}

.waa-angular{
  background: url(../../assets/images/people.gif) no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* this property is not yet supported by all browser, not official yet... i tmay not work for all users*/
}

.waa-angular-text {
  font-size: 96px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
