<div class="waf-home container">
  <div class="waf-content">
    <swiper [config]="config" (indexChange)="ic($event)">

      <div class=" swiper-slide">
        <div class="header-section">
          <div class="title py-3">wearefrontend&trade;</div>
        </div>

        <div class="mid-section">
          <div class="content">
            <div class="content__container">
              <p class="content__container__text">
                Hello
              </p>

              <ul class="content__container__list">
                <li class="content__container__list__item">Developers!</li>
                <li class="content__container__list__item">World!</li>
                <li class="content__container__list__item">Front Ends!</li>
                <li class="content__container__list__item">Members!</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="poke-img">
            <img class="size-catch" src="./assets/images/catch.png" />
          </div>
          <div class="linkedin">
            <div style="padding-right: 50px; padding-top: 50px;">
              <a href="https://www.linkedin.com/groups/13737959/" target="_blank">
                <img style="width: 55px; height: 55px;" src="./assets/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="header-section">
          <div class="header-part-a"></div>
          <div class="header-part-b title py-3">waf-Vue</div>
          <div class="header-part-c">
          </div>
        </div>

        <div class=" mid-section">
          <app-accordion [options]="slides[1].images">
          </app-accordion>
          <a style="border: 0;" href="https://gitter.im/wearefrontend/waf-vue" target="_black"
            class="vue-background-theme waf-button">
            <span style="color: white;">Chat with our members!</span>
          </a>
        </div>

        <div class="footer">
          <div class="poke-img">
            <img class="size-poke" src="./assets/images/bulbi.png" />
          </div>
          <div class="linkedin">
            <div style="padding-right: 50px; padding-top: 50px;">
              <a href="https://www.linkedin.com/groups/13737959/" target="_blank">
                <img style="width: 55px; height: 55px;" src="./assets/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="header-section">
          <div class="header-part-a"></div>
          <div class="header-part-b title py-3">waf-Angular</div>
          <div class="header-part-c" style="margin-left: auto">
          </div>
        </div>

        <div class="mid-section">
          <app-accordion [options]="slides[2].images">
          </app-accordion>
          <a style="border: 0;" href="https://gitter.im/wearefrontend/waf-angular" target="_black"
            class="ng-background-theme waf-button">
            <span style="color: white;">Chat with our members!</span>
          </a>
        </div>

        <div class="footer">
          <div class="poke-img">
            <img class="size-poke" src="./assets/images/sala.png" />
          </div>
          <div class="linkedin">
            <div style="padding-right: 50px; padding-top: 50px;">
              <a href="https://www.linkedin.com/groups/13737959/" target="_blank">
                <img style="width: 55px; height: 55px;" src="./assets/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="header-section">
          <div class="header-part-a"></div>
          <div class="header-part-b title py-3">waf-React</div>
          <div class="header-part-c" style="margin-left: auto">
          </div>
        </div>

        <div class="mid-section">
          <app-accordion [options]="slides[3].images">
          </app-accordion>
          <a style="border: 0;" href="https://gitter.im/wearefrontend/waf-react" target="_black"
            class="react-background-theme waf-button">
            <span style="color: white;">Chat with our members!</span>
          </a>
        </div>

        <div class="footer">
          <div class="poke-img">
            <img class="size-poke" src="./assets/images/cara.png" />
          </div>
          <div class="linkedin">
            <div style="padding-right: 50px; padding-top: 50px;">
              <a href="https://www.linkedin.com/groups/13737959/" target="_blank">
                <img style="width: 55px; height: 55px;" src="./assets/linkedin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

    </swiper>

    <div class="footer">
      © Copyright wearefrontend.com 2019. All Rights are Reserved.
    </div>
  </div>
</div>
