<div class="waf-home container">
  <div class="waf-content">

    <swiper [config]="config">

      <div class="swiper-slide">
        <div class="header-section">
          <div class="title py-3"> React </div>
        </div>

        <div class="mid-section">
          <img class="size-c" src="./assets/images/angular.png" />
          <a style="margin-top: 20px" href="https://gitter.im/wearefrontend/waf-ng" target="_black" class="waf-button">
            <span>Join waf-ng</span>
          </a>
        </div>

        <div class="footer">
          <div class="pl-3">
            <img class="size-poke" src="./assets/images/sala.png" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="header-section">
          <div class="title py-3"> React </div>
        </div>

        <div class="mid-section">
          <img class="size-c" src="./assets/images/vue.png" />
          <a style="margin-top: 20px" href="https://gitter.im/wearefrontend/waf-vue" target="_black" class="waf-button">
            <span>Join waf-vue</span>
          </a>
        </div>

        <div class="footer">
          <div class="pl-3">
            <img class="size-poke" src="./assets/images/bulbi.png" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="header-section">
          <div class="title py-3"> React </div>
        </div>

        <div class="mid-section">
          <img class="size-c" src="./assets/images/react.png" />
          <a style="margin-top: 20px" href="https://gitter.im/wearefrontend/waf-react" target="_black"
            class="waf-button">
            <span>Join waf-vue</span>
          </a>
        </div>

        <div class="footer">
          <div class="pl-3">
            <img class="size-poke" src="./assets/images/cara.png" />
          </div>
        </div>
      </div>

    </swiper>

  </div>
</div>
